@require '../../../common/mixins.styl';
@require 'nib';

#dashboard-view
	padding-top 30px

	.panel
		border-color #555

	.panel-heading
		background-color #555
		color #fff

	.panel-body
		font-weight bold
		text-align center

		.medium
			font-size 50px

		.large
			font-size 100px