gutter-size = 15px

yeti-blue-dark = #002a3a
yeti-blue-light = #d9e0ef

yeti-grey-light = #f1f1f2
yeti-grey-medium = #b8b8b8
yeti-grey-dark = #414143

yeti-links = #0071bc

yeti-orange = #fc4c02

// font sizes converted to percent (assumes starting value is 14px)

fontSize8px = 57%
fontSize9px = 64%
fontSize10px = 71%
fontSize11px = 79%
fontSize12px = 86%
fontSize13px = 93%
fontSize14px = 100%
fontSize15px = 107%
fontSize16px = 114%
fontSize17px = 121%
fontSize18px = 129%
fontSize19px = 136%
fontSize20px = 143%
fontSize21px = 150%
fontSize22px = 157%
fontSize23px = 164%
fontSize24px = 171%
fontSize25px = 179%
fontSize26px = 186%
fontSize27px = 193%
fontSize28px = 200%
fontSize29px = 207%
fontSize30px = 214%
fontSize31px = 221%
fontSize32px = 229%
fontSize33px = 236%
fontSize34px = 243%
fontSize35px = 250%
fontSize36px = 257%
fontSize37px = 264%
fontSize38px = 271%
fontSize39px = 279%
fontSize40px = 286%
fontSize41px = 293%
fontSize42px = 300%
fontSize43px = 307%
fontSize44px = 314%
fontSize45px = 321%
fontSize46px = 329%
fontSize47px = 336%
fontSize48px = 343%
fontSize49px = 350%
fontSize50px = 357%
fontSize51px = 364%
fontSize52px = 371%
fontSize53px = 379%
fontSize54px = 386%
fontSize55px = 393%
fontSize56px = 400%
fontSize57px = 407%
fontSize58px = 414%
fontSize59px = 421%
fontSize60px = 429%
fontSize61px = 436%
fontSize62px = 443%
fontSize63px = 450%
fontSize64px = 457%
fontSize65px = 464%
fontSize66px = 471%
fontSize67px = 479%
fontSize68px = 486%
fontSize69px = 493%
fontSize70px = 500%
fontSize71px = 507%
fontSize72px = 514%


